In [1]:
import pandas as pd
import numpy as np

In [2]:
#load the listing data
data = pd.read_csv('/Users/kkanchi/Downloads/RDC_Inventory_Core_Metrics_Zip_History.csv', header=0, parse_dates=True, low_memory=False)[:-2] # remove last two rows, which have shown 
#themselvse as weird
data['year-month'] = pd.to_datetime(data['month_date_yyyymm'], format='%Y%m')

In [3]:
data.shape

(1946980, 41)

In [8]:
data.head(10)

,month_date_yyyymm,postal_code,zip_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag,year-month
0,202206,36609,"mobile, al",194950.0,0.0569,-0.0603,34.0,0.3077,0.4783,20.0,...,0.0866,-0.0316,42.0,0.1667,0.1667,0.2353,-0.1878,-0.2864,1.0,2022-06-01
1,202206,35739,"ardmore, al",329000.0,-0.0172,0.5932,5.0,0.0000,4.0000,18.0,...,-0.0704,1.0313,5.0,-0.1667,4.0000,0.0000,-0.2000,NaN,1.0,2022-06-01
2,202206,78629,"gonzales, tx",369000.0,-0.0004,0.3068,23.0,0.0952,0.5333,77.0,...,-0.0221,0.2845,38.0,-0.0952,0.2667,0.6522,-0.3478,-0.3478,1.0,2022-06-01
3,202206,78025,"ingram, tx",367000.0,-0.6929,0.1311,25.0,-0.1379,1.0833,60.0,...,-0.1390,0.6705,42.0,0.0500,1.0000,0.7200,0.3407,0.0533,1.0,2022-06-01
4,202206,78405,"corpus christi, tx",80000.0,-0.0857,0.1189,19.0,0.7273,1.7143,50.0,...,-0.0780,0.0950,29.0,0.3810,0.7059,0.4211,-0.3971,-0.8647,0.0,2022-06-01
5,202206,44809,"bascom, oh",169900.0,0.0059,NaN,1.0,NaN,NaN,22.0,...,0.0366,NaN,1.0,-0.5000,NaN,NaN,NaN,NaN,0.0,2022-06-01
6,202206,37821,"newport, tn",387450.0,0.2621,0.8498,50.0,-0.0385,0.3158,37.0,...,0.1876,0.3374,105.0,0.0396,0.2963,1.1000,0.1769,-0.0053,1.0,2022-06-01
7,202206,54639,"la farge, wi",419900.0,0.0000,1.2100,1.0,0.0000,-0.6667,19.0,...,0.0000,1.2085,2.0,1.0000,-0.5000,1.0000,NaN,0.6667,1.0,2022-06-01
8,202206,33403,"west palm beach, fl",509500.0,-0.1508,0.2769,32.0,0.0667,-0.0303,27.0,...,0.0427,0.3562,68.0,0.2830,-0.0423,1.0938,0.3604,-0.0275,0.0,2022-06-01
9,202206,90065,"los angeles, ca",1224500.0,0.0225,0.2270,42.0,0.4483,0.1053,27.0,...,0.0223,0.1918,67.0,0.1167,-0.2299,0.5952,-0.5427,-0.7206,0.0,2022-06-01

In [10]:
local_listing_sum = data[['year-month', 'active_listing_count']].groupby(['year-month']).sum().reset_index()

In [11]:
local_listing_sum

   year-month  active_listing_count
0  2016-07-01             1348986.0
1  2016-08-01             1340864.0
2  2016-09-01             1326737.0
3  2016-10-01             1300291.0
4  2016-11-01             1220139.0
..        ...                   ...
67 2022-02-01              369446.0
68 2022-03-01              375486.0
69 2022-04-01              417051.0
70 2022-05-01              505023.0
71 2022-06-01              614646.0

[72 rows x 2 columns]

In [14]:
#anyfilter for specific zipcodes
zipcodes = pd.read_csv('./zipcodes.csv')
# My dataset strips the leading 0 from zipcodes, which happens to be what the other dataset came as too.
#Since they both do this, the sets can still be compared without additional work (unlike R)
zipcodes['zipcode'] = zipcodes['zipcode'].astype(str)
local_data = data[data['postal_code'].isin(zipcodes['zipcode'])]

In [18]:
data.dtypes
#data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1946980 entries, 0 to 1946979
Data columns (total 41 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   month_date_yyyymm                        int64
 1   postal_code                              int64
 2   zip_name                                 object
 3   median_listing_price                     float64
 4   median_listing_price_mm                  float64
 5   median_listing_price_yy                  float64
 6   active_listing_count                     float64
 7   active_listing_count_mm                  float64
 8   active_listing_count_yy                  float64
 9   median_days_on_market                    float64
 10  median_days_on_market_mm                 float64
 11  median_days_on_market_yy                 float64
 12  new_listing_count                        float64
 13  new_listing_count_mm                     float64
 14  new_listing_count_yy                     float64
 15  price_increased_count                    float64
 16  price_increased_count_mm                 float64
 17  price_increased_count_yy                 float64
 18  price_reduced_count                      float64
 19  price_reduced_count_mm                   float64
 20  price_reduced_count_yy                   float64
 21  pending_listing_count                    float64
 22  pending_listing_count_mm                 float64
 23  pending_listing_count_yy                 float64
 24  median_listing_price_per_square_foot     float64
 25  median_listing_price_per_square_foot_mm  float64
 26  median_listing_price_per_square_foot_yy  float64
 27  median_square_feet                       float64
 28  median_square_feet_mm                    float64
 29  median_square_feet_yy                    float64
 30  average_listing_price                    float64
 31  average_listing_price_mm                 float64
 32  average_listing_price_yy                 float64
 33  total_listing_count                      float64
 34  total_listing_count_mm                   float64
 35  total_listing_count_yy                   float64
 36  pending_ratio                            float64
 37  pending_ratio_mm                         float64
 38  pending_ratio_yy                         float64
 39  quality_flag                             float64
 40  year-month                               datetime64[ns]
dtypes: datetime64[ns](1), float64(37), int64(2), object(1)
memory usage: 609.0+ MB

In [19]:
data.describe()

,month_date_yyyymm,postal_code,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,median_days_on_market_mm,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
count,1.946980e+06,1.946980e+06,1.943264e+06,1.667866e+06,1.613053e+06,1.943264e+06,1.654523e+06,1.599605e+06,1.946980e+06,1.669916e+06,...,1.943264e+06,1.667866e+06,1.613053e+06,1.944355e+06,1.677447e+06,1.619546e+06,1.557992e+06,1.233047e+06,1.128849e+06,1.712509e+06
mean,2.019161e+05,4.864791e+04,3.592070e+05,8.141494e+00,1.104328e+01,3.733421e+01,2.060425e-02,-1.393356e-02,9.643605e+01,2.438525e-01,...,4.195635e+05,6.373960e+00,9.265154e+00,5.461179e+01,2.362304e-02,5.115323e-02,inf,NaN,NaN,5.761470e-01
std,1.700469e+02,2.783093e+04,9.378086e+05,1.480826e+03,1.947873e+03,6.787078e+01,3.821563e-01,8.424438e-01,1.051791e+02,2.129505e+00,...,9.542143e+05,1.286537e+03,1.673457e+03,9.228440e+01,3.470030e-01,8.939840e-01,NaN,NaN,NaN,4.941678e-01
min,2.016070e+05,1.001000e+03,1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,...,1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,-inf,-inf,0.000000e+00
25%,2.018030e+05,2.520100e+04,1.497000e+05,-3.570000e-02,-8.060000e-02,3.000000e+00,-1.176000e-01,-4.286000e-01,4.300000e+01,-1.237000e-01,...,1.660198e+05,-4.090000e-02,-8.830000e-02,5.000000e+00,-9.860000e-02,-3.214000e-01,1.924000e-01,-1.013000e-01,-7.490000e-02,0.000000e+00
50%,2.019080e+05,4.819700e+04,2.490000e+05,0.000000e+00,6.380000e-02,1.300000e+01,0.000000e+00,-1.400000e-01,7.000000e+01,1.034000e-01,...,2.767060e+05,0.000000e+00,6.230000e-02,1.900000e+01,0.000000e+00,-7.810000e-02,4.800000e-01,0.000000e+00,6.790000e-02,1.000000e+00
75%,2.021010e+05,7.200300e+04,3.990000e+05,4.010000e-02,2.654000e-01,4.300000e+01,8.110000e-02,1.200000e-01,1.150000e+02,3.023000e-01,...,4.579335e+05,5.000000e-02,2.603000e-01,6.700000e+01,8.000000e-02,1.667000e-01,1.000000e+00,1.303000e-01,4.211000e-01,1.000000e+00
max,2.022060e+05,9.995000e+04,2.790000e+08,6.989990e+05,7.989990e+05,2.658000e+03,6.800000e+01,1.950000e+02,4.330000e+03,8.600000e+02,...,2.790000e+08,6.989990e+05,7.989990e+05,2.878000e+03,6.800000e+01,3.510000e+02,inf,inf,inf,1.000000e+00

In [20]:
data["postal_code"].value_counts()

27401    72
11963    72
28016    72
54016    72
27882    72
         ..
95671     1
32121     1
40231     1
80962     1
20235     1
Name: postal_code, Length: 34926, dtype: int64

In [37]:
data["postal_code"].nunique()

34926

In [24]:
data.columns

Index(['month_date_yyyymm', 'postal_code', 'zip_name', 'median_listing_price',
       'median_listing_price_mm', 'median_listing_price_yy',
       'active_listing_count', 'active_listing_count_mm',
       'active_listing_count_yy', 'median_days_on_market',
       'median_days_on_market_mm', 'median_days_on_market_yy',
       'new_listing_count', 'new_listing_count_mm', 'new_listing_count_yy',
       'price_increased_count', 'price_increased_count_mm',
       'price_increased_count_yy', 'price_reduced_count',
       'price_reduced_count_mm', 'price_reduced_count_yy',
       'pending_listing_count', 'pending_listing_count_mm',
       'pending_listing_count_yy', 'median_listing_price_per_square_foot',
       'median_listing_price_per_square_foot_mm',
       'median_listing_price_per_square_foot_yy', 'median_square_feet',
       'median_square_feet_mm', 'median_square_feet_yy',
       'average_listing_price', 'average_listing_price_mm',
       'average_listing_price_yy', 'total_listing_count',
       'total_listing_count_mm', 'total_listing_count_yy', 'pending_ratio',
       'pending_ratio_mm', 'pending_ratio_yy', 'quality_flag', 'year-month'],
      dtype='object')

In [25]:
#load the listing data
zip_lat_data = pd.read_csv('/Users/kkanchi/Downloads/all_us_zipcodes_LA_Long.csv', header=0)

In [26]:
zip_lat_data.head()

   code        city state     county  area_code        lat        lon
0   501  Holtsville    NY    SUFFOLK        NaN  40.922326 -72.637078
1   544  Holtsville    NY    SUFFOLK        NaN  40.922326 -72.637078
2  1001      Agawam    MA    HAMPDEN        NaN  42.140549 -72.788661
3  1002     Amherst    MA  HAMPSHIRE        NaN  42.367092 -72.464571
4  1003     Amherst    MA  HAMPSHIRE        NaN  42.369562 -72.635990

In [28]:
zip_lat_data.shape

(42366, 7)

In [29]:
zip_lat_data.tail()

,code,city,state,county,area_code,lat,lon
42361,99926,Metlakatla,AK,PRINCE WALES KETCHIKAN,NaN,55.094325,-131.566827
42362,99927,Point Baker,AK,PRINCE WALES KETCHIKAN,NaN,55.517921,-132.003244
42363,99928,Ward Cove,AK,KETCHIKAN GATEWAY,NaN,55.395359,-131.675370
42364,99929,Wrangell,AK,WRANGELL PETERSBURG,NaN,56.449893,-132.364407
42365,99950,Ketchikan,AK,KETCHIKAN GATEWAY,NaN,55.542007,-131.432682

In [39]:
zip_lat_data["code"].nunique()

42366